{% extends "base.html" %}

{% block navi %}
<div id="navi">
    <ul class="lavaLamp">
		<li class="current"><a title="Inicio La Prensa de Hoy" href="/">Inicio</a></li>
		<li><a title="buscar" href="/buscar/">Búsqueda</a></li>
		<li><a title="noticias" href="/resumenes/">Resúmenes</a></li>
		<li><a title="suscríbase" href="/boletin/">Suscripción</a></li>
		<li><a title="contacte con La Prensa de Hoy" href="/contacto/">Contacto</a></li>
		<li><a title="ayuda" href="/entrada_servicios/">Servicios</a></li>
	</ul>
</div>	
{% endblock %}

{% block contenido %}
	<div id="content">
    	<div class="text_salir_cuenta">
			<h2>Ha salido con éxito de su cuenta</h2>
		</div>
	</div>
{% endblock %}
