{% extends "base.html" %}

{% block content %}
    <div id="content">
    <h1>
	La página o recurso que ha solicitado no se ha encontrado. Le pedimos disculpas por el inconveniente.
	<br /><br /> 
	Por favor, vuelva atrás y compruebe que la dirección que ha introducido es la correcta.</h1>
	<script type="text/javascript">
        var GOOG_FIXURL_LANG = 'es';
        var GOOG_FIXURL_SITE = 'http://127.0.0.1:8000/'
    </script>
    <script type="text/javascript"
        src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js">
    </script>
	</div>
{% endblock %}