
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>Ubuntu Tweak - Let's rock with Ubuntu</title>
	<meta name="keywords" content="Ubuntu Tweak, Ubuntu, Utilities, Application Center, Source Center" />
	<meta name="description" content="Ubuntu Tweak is an application designed to config Ubuntu easier for everyone." />
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	<link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico" />
	

	<script type='text/javascript' src='/static/js/jquery.min.js'></script>
	<script type='text/javascript' src='/static/js/lavalamp.min.js'></script>
	<script type='text/javascript' src='/static/js/easing.js'></script>
	<script type="text/javascript">
	/* <![CDATA[ */
	$(function(){$(".lavaLamp").lavaLamp({ fx: "backout", speed: 700 })});
	/* ]]> */
	</script>
	
</head>
<body>
<div id="wrap">
	<div id="header">
		<h1><a href="/">Ubuntu Tweak</a></h1>
		<form action="">
			<input type="text" id="s" name="q" value="Search app or source..." onfocus="if (value =='Search app or source...'){value =''}" onblur="if (value ==''){value='Search app or source...'}" />
			<input type="submit" value=" " id="searchsubmit"/>
		</form>
	</div>
	<div id="navi">
		<ul class="lavaLamp">
			<li class="current"><a title="ubuntu tweak home" href="/">Home</a></li>
			<li><a title="application" href="/app/">App</a></li>
			<li><a title="application source" href="/source/">Source</a></li>
			<li><a title="Ubuntu Tweak Blog" href="http://blog.ubuntu-tweak.com" target="_blank">Blog</a></li>
			<li><a title="about ubuntu tweak" href="/about/">About</a></li>
		</ul>
		<div id="logon">
			
			
			<a href="/accounts/login/?next=/">Login</a><span> / </span><a href="/accounts/register/">Register</a>
			
		</div>
	</div>
	
	<div id="content">
		<div class="text_big">
			<h2>Welcome!</h2>
			<p>Ubuntu Tweak is an application to config Ubuntu easier for everyone.</p>
			<p>It provides many useful desktop and system options that the default desktop environment doesn't provide.</p>
			<p>With its help, you will enjoy with the experience of Ubuntu!</p>
		</div>
		<div class="download">
			<a href="http://launchpad.net/ubuntu-tweak/0.5.x/0.5.3/+download/ubuntu-tweak_0.5.3-1~karmic1_all.deb"><strong>Download Now!</strong><span>Version 0.5.3</span></a>
		</div>
		<div class="image">
			<img src="/static/images/img.png" alt="ubuntu-tweak" title="Ubuntu Tweak" />
		</div>
	</div>
	<div class="contentlist" id="mgleft">
		<a class="title" id="history" href="http://blog.ubuntu-tweak.com">News</a>
		<ul>
<li><a href="http://blog.ubuntu-tweak.com/2010/03/01/ubuntu-tweak-0-5-2-released.html" title="Ubuntu Tweak 0.5.2 released">Ubuntu Tweak 0.5.2 released</a></li>
<li><a href="http://blog.ubuntu-tweak.com/2010/02/08/how-to-get-involved-with-ubuntu-tweak-development.html" title="How to get involved with Ubuntu Tweak Development">How to get involved with Ubuntu ...</a></li>
<li><a href="http://blog.ubuntu-tweak.com/2010/02/02/ubuntu-tweak-0-5-1-released-support-10-04-lucid.html" title="Ubuntu Tweak 0.5.1 released: support 10.04 Lucid!">Ubuntu Tweak 0.5.1 released: sup...</a></li>
<li><a href="http://blog.ubuntu-tweak.com/2010/01/13/help-to-translate-utcom.html" title="Help to translate UTCOM">Help to translate UTCOM</a></li>
<li><a href="http://blog.ubuntu-tweak.com/2010/01/10/ubuntu-tweak-0-5-0-released.html" title="Ubuntu Tweak 0.5.0 released!">Ubuntu Tweak 0.5.0 released!</a></li>
<li><a href="http://blog.ubuntu-tweak.com/2010/01/03/how-to-help-utcom-grow-up.html" title="How to help UTCOM grow up">How to help UTCOM grow up</a></li>
</ul>

	</div>
	<div class="contentlist haveiconlist">
		<a class="title" id="app" href="/app/">App</a>
		
<ul>
	
	
	<li><img src="/static/appcommon/common-icon.png" alt="Moovida" title="Moovida" /> <a href="/app/moovida/" title="Moovida">Moovida</a></li>
	
	
	<li><img src="/static/appcenter/logo/zik-icon.png" alt="ZiK" title="ZiK" /> <a href="/app/zik/" title="ZiK">ZiK</a></li>
	
	
	<li><img src="/static/appcenter/logo/canola-icon.png" alt="Canola" title="Canola" /> <a href="/app/canola/" title="Canola">Canola</a></li>
	
	
	<li><img src="/static/appcenter/logo/test-drive-icon.png" alt="Test Drive" title="Test Drive" /> <a href="/app/test-drive/" title="Test Drive">Test Drive</a></li>
	
	
	<li><img src="/static/appcenter/logo/chmsee-icon.png" alt="ChmSee" title="ChmSee" /> <a href="/app/chmsee/" title="ChmSee">ChmSee</a></li>
	
	
	<li><img src="/static/appcenter/logo/filezilla-icon.png" alt="FileZilla" title="FileZilla" /> <a href="/app/filezilla/" title="FileZilla">FileZilla</a></li>
	
</ul>

	</div>
	<div class="contentlist haveiconlist">
		<a class="title" id="source" href="/source/">Source</a>
		
<ul>
	
	
	<li><img src="/static/sourcecenter/logo/shutter-testing-team-ppa-icon.png" alt="Shutter Testing PPA" title="Shutter Testing PPA" /> <a href="/source/shutter-testing-team-ppa/" title="Shutter Testing PPA">Shutter Testing PPA</a>
	</li>
	
	
	<li><img src="/static/sourcecenter/logo/anonbeat-guayadeque-icon.png" alt="Guayadeque Music Player" title="Guayadeque Music Player" /> <a href="/source/anonbeat-guayadeque/" title="Guayadeque Music Player">Guayadeque Music Player</a>
	</li>
	
	
	<li><img src="/static/sourcecenter/logo/canola-ppa-icon.png" alt="Canola PPA" title="Canola PPA" /> <a href="/source/canola-ppa/" title="Canola PPA">Canola PPA</a>
	</li>
	
	
	<li><img src="/static/sourcecenter/logo/testdrive-ppa-icon.png" alt="Test Drive PPA" title="Test Drive PPA" /> <a href="/source/testdrive-ppa/" title="Test Drive PPA">Test Drive PPA</a>
	</li>
	
	
	<li><img src="/static/sourcecenter/logo/chmsee-icon.png" alt="ChmSee For Karmic" title="ChmSee For Karmic" /> <a href="/source/chmsee/" title="ChmSee For Karmic">ChmSee For Karmic</a>
	</li>
	
	
	<li><img src="/static/sourcecenter/logo/zik-icon.png" alt="ZiK" title="ZiK" /> <a href="/source/zik/" title="ZiK">ZiK</a>
	</li>
	
</ul>

	</div>
	<div class="blank"></div>

	<div class="blank"></div>
<div id="footer">
	Powered by <a href="http://www.djangoproject.com">Django</a>. &copy; 2009-2010 UTCOM 0.1. All rights reserved.
</div>

</div>
<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
	try {
		var pageTracker = _gat._getTracker("UA-503846-7");
		pageTracker._trackPageview();
		} catch(err) {}</script>
</body>
</html>
